<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Firefox suite" verbose="1">

    <test name="Firefox Test">
        <parameter name="driverName" value="firefox"/>
        <parameter name="path" value=".\\src\\test\\resources\\geckodriver.exe"/>
        <classes>
            <class name="com.globoforce.mentoring.testautomation.awardlightbox.scenarios.OpenFullScreenAward"/>
        </classes>
    </test>









</suite>