<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Browsers suite" verbose="1">



    <test name="Edge Test">
        <parameter name="driverName" value="edge"/>
        <parameter name="path" value=".\src\test\resources\MicrosoftWebDriver.exe"/>
        <classes>
            <class name="com.globoforce.mentoring.testautomation.scenarios.ApproveNomination"/>
        </classes>
    </test>


</suite>